@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.first {
  background-image: url("../assets/img/crowd.jpg");
  background-position: center center;
  color: $firstColor;
  font-family: "Roboto", sans-serif;
  font-size:16px;
  font-weight: 400;
  height: 100%;
  text-align: center;
  width: 100vw;
  &__back {
    color: $firstColor;
  }
  &__button {
    background: none;
    border: 2px solid $firstColor;
    border-radius: 6px;
    color: $firstColor;
    font-size: larger;
    font-weight: bold;
    width: 80px;
    height: 80px;
    margin: 5px;
    outline: none;
    padding: 6px;
    transform: scale(1);
  }
  &__button-history {
    @extend.first__button;
    background:rgb(204, 161, 124, 0.2);
    font-size:15px;
    height:60px;
    width:60px;
    
  }
  &__content {
    margin-top: 0;
  }
  &__heading {
    margin-bottom: 0;
  }
  &__keys {
    margin: 36px 0px;
    @media screen and (max-width: 500px) {
      margin: 36px 36px;
    }
  }
  &__section {
    padding: 16px;
  }
  &__sound {
    color: #c5512a;
    font-weight: 700;
    font-size: smaller;
    margin-top: 2px;
  }
  &__special {
    border: 2px solid #970d1a;
    box-shadow: 0 0 1rem #970d1a;
    transform: scale(1.1);
    text-shadow: 0 0 0.5rem #4e204d;
  }
}

.music {
  &__heading {
    display:none;
    &--open {
      display:block;
    }
  }
  &__heading-second {
    @extend.music__heading;
    font-size: 1.5em;
    &--open {
      display:block;
    }
  }
  &__history {
    max-height: 240px;
    overflow: hidden;
    @media screen and (max-width: 500px) {
      margin: 36px 36px;
    }
  }
}

.history {
  margin-top:100px;
  &__load {
    background: #c5512a;
    border: none;
    border-radius: 6px;
    color: white;
    margin: 20px auto;
    padding: 16px;
    max-width: 200px;
  }
  &__reset {
    @extend.history__load;
    background:none;
    border:1px solid #c5512a;
    color:$firstColor;
    font-weight: 700;

  }
}
